body {
	margin: 0;
}

.page-content {
	width: 100%;
	margin: 0 auto;
	background: #75e2e9;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: -moz-linear-gradient(136deg, rgb(149, 153, 226) 0%, rgb(139, 198, 236) 100%);
	background-image: -webkit-linear-gradient(136deg, rgb(149, 153, 226) 0%, rgb(139, 198, 236) 100%);
	background-image: -ms-linear-gradient(136deg, rgb(149, 153, 226) 0%, rgb(139, 198, 236) 100%);
	/* i use google search or chat gpt for colors*/
}

.formes {
	background: #fff;
	width: 1100px;
	border-radius: 10px;
	box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	/*i use mdn to detrmine the good*/
	margin: 100px;
	font-family: 'Montserrat', sans-serif;
	margin-top: 5%;
	margin-bottom: 10%;

	/* this block of code for the all form left and right and i use chatgpt and GS for font family*/
}

.formes .form-detail {
	width: 100%;
	display: flex;
	/عشان اصف الفارتيكل اليمين جنب اليسار/
}

.formes .form-detail h2 {
	font-weight: 500;
	font-size: 25px;
	margin-bottom: 34px;
	padding: 33px 50px 0px 60px;
	/*لتزبيط العناوين */
}

.formes .form-detail .form-left {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	width: 100%;
}

.formes .form-detail .form-left h2 {
	color: #2271dd;
}

.formes .form-detail .form-right {
	width: 100%;
	background: #4835d4;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.formes .form-detail .form-right h2 {
	color: white;
}

.formes .form-detail .form-group {
	display: flex;
}

.formes .form-detail .form-row {
	margin-bottom: 24px;
	padding-left: 60px;
	padding-right: 50px;
}

.formes .form-detail .form-left .form-group .form-row.form-row-1 {
	width: 50%;
	padding: 0 12px 0 60px;
}

.formes .form-detail .form-left .form-group .form-row.form-row-2 {
	width: 50%;
	padding: 0 50px 0 12px;
}

.formes .form-detail .form-left .form-group .form-row.form-row-3 {
	width: 73%;
	padding: 0 12px 0 60px;
}

.formes .form-detail .form-left .form-group .form-row.form-row-4 {
	width: 50%;
	padding: 0 50px 0 12px;
}

.formes .form-detail .form-right .form-group .form-row.form-row-1 {
	width: 50%;
	padding: 0 12px 0 60px;
}

.formes .form-detail .form-right .form-group .form-row.form-row-2 {
	width: 100%;
	padding: 0 50px 0 12px;
}

.formes .form-detail select,
.formes .form-detail input {
	width: 100%;
	padding: 11.5px 15px 15px 15px;
	border: 1px solid transparent;
	background: transparent;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	box-sizing: border-box;
}

.formes .form-detail select {
	background: 0 0;
	position: relative;
}

.formes .form-detail .form-left select {
	color: #666;
}

.formes .form-detail .form-right select {
	color: #f2f2f2;
}

.formes .form-detail .form-left .select-btn {
	color: #666;
}




.formes .form-detail .form-left input,
.formes .form-detail .form-left select {
	border-bottom: 1px solid #ccc;
}

.formes .form-detail .form-right input,
.formes .form-detail .form-right select {
	border-bottom: 1px solid;
	border-bottom-color: rgba(255, 255, 255, 0.3);
}

.formes .form-detail .form-right select option {
	background: #4835d4;
}

.formes .form-detail .form-checkbox {
	margin-top: 37px;
	padding: 0 50px 0 60px;
	position: relative;
}

.formes .form-detail .form-checkbox input {
	position: absolute;
	opacity: 0;
}

.formes .form-detail .form-checkbox .checkmark {
	position: absolute;
	top: 1px;
	left: 60px;
	height: 15px;
	width: 15px;
	border: 1px solid #e5e5e5;

}

.formes .form-detail .form-checkbox .checkmark::after {
	left: 5px;
	top: 1px;
	width: 3px;
	height: 8px;
	border: 1px solid #fff;
	border-width: 0 2px 2px 0;
	display: none;
}

.formes .form-detail .form-checkbox input:checked~.checkmark::after {
	display: block;
}

.formes .form-detail .form-checkbox {
	margin-left: 34px;
	color: #e5e5e5;
	font-size: 14px;
	font-weight: 400;
}

.formes .form-detail .form-checkbox .text {
	font-weight: 400;
	color: #fff;
	text-decoration: underline;
}

.formes .form-detail .form-right .form-row-last {
	padding-left: 60px;
	margin: 44px 0 10px;
	/*possition for badges butt*/
}

.formes .form-detail .form-right .register {
	background: #fff;
	border-radius: 25px;
	box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.15);
	width: 180px;
	margin: 6px 0 50px 0px;
	cursor: pointer;
	color: #333;
	font-weight: 700;
	font-size: 15px;
}



.formes .form-detail .form-left input {
	color: #666;
	font-size: 16px;
	/*give themes to left side place holder content*/

}

.formes .form-detail .form-right input::-webkit-input-placeholder {
	color: #f2f2f2;
	font-size: 16px;
	/*give themes to right side place holder content*/
}